*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    
  }

.container3 {
 min-width: 13rem;
 height: 19rem;
 background-color: #FFC801;
 border-radius: 20px;
 display: flex;
 flex-direction: column;
 gap: 0.5rem;
 align-items: center;
 color: white;
 margin: 8rem 5rem;
}

.img-div {
 margin-top: 1rem;
}