* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Lato', sans-serif;

}

body {
 background-color: #252323;
}

.form {
 display: flex;
 flex-direction: column;
 gap: 2rem;
}

.right {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 width: 40%;

}

.hero {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 4rem;
 color: white;
 background-color: #000;
 min-width: 80%;
 max-height: 80%;
 border-radius: 2rem;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);

}


html {
 overflow-y: hidden;
}

.hero--image {
 width: 60%;
}

.hero--image img {
 object-fit: cover;
 width: 80%;
}

.yellow {
 color: #FFC801;
}

.input {
 display: flex;
 flex-direction: column;
 gap: 1.2rem;

}

.input input {
 padding: 0.2rem;
 border-radius: 0.4rem;
 max-width: 65%;
 background-color: #252523;
 color: white;

}

.dugme {
 background-color: #FFC801;
 color: white;
 border-radius: 0.5rem;
 margin-top: 2rem;
 font-weight: bold;
}

