*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 0 2rem;
  font-family: 'Roboto Condensed', sans-serif;
   
}




.match-card {

border-radius: 2rem;
width: 80%;
margin-top: 7rem;
padding: 2rem;
height: 14rem;
background-color: #FFC801;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.match-players {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 2rem;
}

.match-players h3 {
  text-align: center;
  font-size: 1.5rem;
}

.match-players h4{
  color: #fff;
  font-size: 4rem;
}



.match-result p {
font-size: 2rem;
color: #fff;
font-weight: 600;
}


@media (max-width: 580px) {
  .container {
    padding: 0 1rem;
  }

  .match-card {
    width: 100%;
    margin-top: 2rem;
    height: 100%;

  }

  .match-players {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .match-players h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .match-players h4 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}