
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  
}
html {

 overflow-x: hidden;
}

.App1 {
 text-align: center;

 margin-top: 2rem;
 margin-left: 5rem;
 margin-right: 5rem;
}



.App-logo {
 height: 40vmin;
 pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
 .App-logo {
  animation: App-logo-spin infinite 20s linear;
 }
}

.img-wrapper {
 display: flex;
 justify-content: space-between;
 
}

/*
.img-wrapper{
margin-left: 10rem;
margin-right: 10rem;
margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
*/
.App-header {
 background-color: #282c34;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}

.App-link {
 color: #61dafb;
}

@keyframes App-logo-spin {
 from {
  transform: rotate(0deg);
 }

 to {
  transform: rotate(360deg);
 }
}


table {
 margin: 0 auto;
}